@font-face {
    font-family: 'Futura light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/futura-std-webfont/FuturaStdLight.woff') format('woff');
}

input::placeholder {
    color: #9B9B9B;
}

.f-light {
    font-family: 'Futura light', sans-serif !important;
}

.h-70 {
    height: 70px;
}

.h-45 {
    height: 45px;
}

.slider.fullscreen {
    height: 390px !important;
}

.fw-b {
    font-weight: bold;
}

.p-15 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-0 {
    margin: 0 !important;
}

.style-inp {
    background: #fff;
    border: 0px;
    height: 45px;
    border-radius: 2px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #efefef;
    width: 100%;
}

.li-footer-elem {
    list-style-type: none;
    padding-left: 0px;
}

.li-footer-elem li a {
    color: #fff;
}

.f-70 {
    font-size: 70px;
}

.f-50 {
    font-size: 17px;
}

.f-14 {
    font-size: 14px !important;
}

.c-yellow {
    color: #efb40b !important;
}

.c-red {
    color: #d54646 !important;
}

.c-gray {
    color: #4D4D4D;
}

.c-white {
    color: #fff;
}

.bg-gray {
    background-color: #4E4E4E !important;
}

.btn-yellow {
    background-color: #efb40b;
    color: #fff;
}

.btn-yellow:hover {
    background-color: #efb40b;
    color: #fff;
}

.btn-yellow:focus {
    background-color: #efb40b;
    color: #fff;
    outline: 0px;
}

.btn-gray {
    background-color: #5F5F5F;
    color: #fff;
}

.btn-gray:hover {
    background-color: #5F5F5F;
    color: #fff;
}

.btn-gray:focus {
    background-color: #5F5F5F;
    color: #fff;
}

.fs-20 {
    font-size: 20px;
}

.tl-1 {
    width: 173px;
    height: 2px;
    display: inline-block;
    background: #daf1ee;
}

.df-aic {
    display: flex;
    align-items: center;
}

.pos-form {
    position: absolute;
    top: 70px;
    left: 100%;
    z-index: 2;
}

.pos-btn {
    position: relative;
    top: -30px;
}

.pos-collapse {
    position: relative;
    top: -29px;
}

.radius-0 {
    border-radius: 0px;
}

.slider .indicators .indicator-item.active {
    background-color: #4D4D4D;
    height: 14px;
    width: 14px;
    border: 1px solid #4D4D4D;
}

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 12px;
    background-color: #fff;
    transition: background-color .3s;
    border-radius: 50%;
    border: 1px solid #fff;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #efb40b;
    background-color: #efb40b;
    z-index: 0;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #fff;
    top: 5px;
    z-index: 0;
}